<div class="index-container">
  <p id="salutation"><span class="welcome"> Welcome friendly friend!</span><br>
     <br>
     Please login to your account<br>
     <br>
     The history of all hitherto 
     existing societies is the history of class struggles. 
     <br>
     <br>
     Don't forget to vote!
  </p>
<div id="btn-login-container">
  <button onclick="window.location='/auth/login';"  class="btn btn-login">Login</button>
</div>
</div>


