<div>
  <p id="salutation">Welcome friendly friend!<br>
     Please login to your account<br>
     <br>
     The history of all hitherto 
     existing societies is the history of class struggles. 
     <br>
     <br>
     Don't forget to vote!
  </p>
</div>
<div id="btn-login-container">
  <button onclick="window.location='/auth/login';" id="btn-login" class="btn">Login</button>
</div>


