body {
  margin: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.btn:hover {    /* not working */
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1px solid black;
    color: black;   
}

.btn:active {  /* not working */
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1px solid black;
    color: yellow;
}
/* header stuff */
#site-header {}

.container{
  background-color: rgb(255, 230, 0);
  padding: 5px;
  text-align: center;
  margin-bottom: 60px;
}
/* Proposals stuff */

#create-proposal{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.btn-new-prop{
 background-color: black;
 color: white;
 padding: 8px 25px;
 font-size: 14px;
 margin-bottom: 30px;
}

.meta-container{
  display:flex;
  flex-flow: column;
  align-items: center;

}

.proposal-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  margin-bottom: 30px;
  border: 1px solid gold;
}

.proposal{
   padding: 5px;
   border: 1px solid black; 
   width: 240px; 
   margin: 0 auto;
}

.proposal-status{
  margin-left: 5px;
  border: 1px solid red;
  padding: 5px;
  margin: 0 auto;
}

/* index stuff */

.index-container{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.welcome{
  font-size: 25px;
  font-weight: bold;
}
a:link, a:visited  { 
    color: black;
    text-decoration: none;
    cursor: auto;
}

a:hover{
  color: rgb(0, 183, 255);
  cursor: pointer;
}

#salutation{
  font-size: 20px;
  text-align: center;
  margin: 50px 0;
}

.btn-login{
 background-color: black;
 color: white;
 padding: 8px 25px;
 font-size: 14px;
 margin-bottom: 30px;
}

/* one-proposal */

.prop-text{
  font-size: 18px;
  margin: 10px;
  padding: 10px; 
}

.response{
  margin: 10px;
  color: white;
  
  padding: 25px;
  font-size: 16px;
}

.positive{
  background-color:rgb(0, 148, 68);
  color: white;
  
}

.negative{
  border: 1px solid red;
  background-color: rgb(218, 28, 92);
  color: white;
}


/* --- new proposal --- */

.form-new{
  font-size: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.save-btn{ 
 background-color: black;
 color: white;
 padding: 8px 25px;
 font-size: 14px;
 margin-bottom: 30px;
 position: relative;
 left: 180px;
}


.field{
  margin-bottom: 50px;
}


#proposal-text{
  position: relative;
  top: 20px;
  left: 10px;
  font-size: 20px;
}

#proposal-name{
  font-size: 20px;
}

.form-new a{
  font-size: 20px;
}


.response-form


