body {
  margin: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.btn:hover {    /* not working */
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1px solid black;
    color: black;   
}

.btn:active {  /* not working */
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1px solid black;
    color: yellow;
}
/* header stuff */
#site-header {}

.container{
  background-color: rgb(255, 230, 0);
  padding: 5px;
  text-align: center;
  margin-bottom: 40px;
}
/* Proposals stuff */

#create-proposal{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.btn-new-prop{
 background-color: black;
 color: white;
 padding: 8px 25px;
 font-size: 12px;
 margin-bottom: 50px;
}

.proposal-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 30px;
}

.proposal{
   padding: 5px;
   border: 1px solid black; 
   width: 240px; 
}

.proposal-status{
  margin-left: 5px;
  border: 1px solid red;
  padding: 5px;
}

/* index stuff */

.index-container{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.welcome{
  font-size: 25px;
  font-weight: bold;
}
a:link, a:visited  { 
    color: black;
    text-decoration: none;
    cursor: auto;
}

a:hover{
  color: rgb(0, 183, 255);
  cursor: pointer;
}

#salutation{
  font-size: 20px;
  text-align: center;
  margin: 50px 0;
}

.btn-login{
 background-color: black;
 color: white;
 padding: 8px 25px;
 font-size: 14px;
 margin-bottom: 30px;
}


