<div class="prop-text">
  <%= proposal.text %>
</div>
<form action="/proposals/<%= proposal._id %>/responses/new" method="POST" >
  <div class="field">
    <textarea type="text" name="responseText">Add your response...</textarea>
  </div>
  <div class="field">
    
    <label for="for">For</label>
    <input type="radio" id="for" name="responseValency" value="positive">
    
    <label for="against">Against</label>
    <input type="radio" id="against" name="responseValency" value="negative">
  
  </div>
  <div>
    <button>Save Response</button>
  </div>
</form>

<a href="/proposals">Back to proposals page</a> -->