<form action="/proposals" method="POST" >
  <div class="field">
    <label for="proposal-name"> Proposal Name </label>
    <input type="text" name="proposalName" id="proposal-name">
  </div>
  <div class="field">
    <label for="proposal-text"> Proposal Text </label>
    <textarea type="text" name="proposalText" id="proposal-text">Describe your proposal here...</textarea>
  </div>
  <div>
    <button>Save</button>
  </div>
</form>

<a href="/proposals">Back to proposals page</a>