<div class="form-new">
  <form action="/proposals" method="POST" >
    <div class="new-prop-name field">
      <label for="proposal-name" class="proposal-name-label"> Proposal Name </label>
      <input type="text" name="proposalName" id="proposal-name">
    </div>
    <div class="new-prop-text field">
      <label for="proposal-text" class="proposal-text-label"> Proposal Text </label>
      <textarea type="text" name="proposalText" id="proposal-text">Describe your proposal here...</textarea>
    </div>
    <div class="save-btn-container">
      <button class="btn save-btn">Save</button>
    </div>
  </form>

  <a href="/proposals" class="proposal-back">Back to proposals page</a>
</div>