<div id="create-proposal">
  <button onclick="window.location='/proposals/new';"  class="btn btn-new-prop">Create Proposal</button>
<!--  <a href="/proposals/new"class="btn-new-prop">Create Proposal</a> -->
</div>
<% proposals.forEach((theProposal) => { %>
  <div class="proposal-container">
    <div class="proposal">
    <a href="/proposals/<%= theProposal._id %>"> <%= theProposal.name %></a> 
    </div>
    <div class="proposal-status">
      <%= theProposal.status %>
    </div>
  </div>
<%});%>